{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-x">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 resize-it">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src = {{ user.image_url|safe }} alt="" class="img-rounded img-responsive img-width" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4> {{ user.first_name + user.last_name }} </h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                            <br />
                            <i class="glyphicon glyphicon-education"></i>{{ user.school }}
                            <br />
                            <i class="glyphicon glyphicon-signal"></i>{{ user.class_year }}</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div id="page2i">
        <!--    <div class="small-button wide yep"><a href='/lessons'>ACCEPTĂ PROVOCAREA</a></div>
            <br/><br/> -->

        <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-6 contur1 contur">
            <a href="square">
                <button type="button" class="btn btn-default"><h2>Pătratul</h2></button>
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-6 contur">
            <a href="rectangle">
                <button type="button" class="btn btn-default"><h2>Dreptunghiul</h2></button>
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-6 contur">
            <a href="square">
                <button type="button" class="btn btn-default"><h2>Figura compusă</h2></button>
            </a>
            </div>
        </div>
        </div>
    </div>


    </div>
</div>
{% endblock %}