{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-x">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 resize-it">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Bhaumik Patel</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
               
                <div class="avatar">
                    <img src="https://41.media.tumblr.com/d3496cd756e4ed7c0dbd9ac2f503fe1e/tumblr_nwp6htOe7N1udztn8o3_75sq.png" alt="" />
                </div>
                <div class="content">
                    <p>Web Developer <br>
                       More description here</p>
                    <p><button type="button" class="btn btn-default">Aria Pătratului</button></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="avatar av-one">
                    <img src="https://41.media.tumblr.com/5b954822e4ac8bb220c4e237cb69d350/tumblr_nwpbfpovRs1udztn8o1_100.png" alt="" />
                </div>
                <div class="content">
                    <p>Web Developer <br>
                       More description here</p>
                    <p><button type="button" class="btn btn-default">Aria dreptunghiului</button></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="avatar ">
                    <img src="https://36.media.tumblr.com/fa810f8e1c360d33386307e968eecf3e/tumblr_nwp6htOe7N1udztn8o1_100.png" alt="" />
                </div>
                <div class="content">
                    <p>Web Developer <br>
                       More description here</p>
                    <p><button type="button" class="btn btn-default">Aria figurii compuse</button></p>
                </div>
            </div>
        </div>
    </div>


      
    </div>
</div>


<img class="src-image"  src="http://www.metalinjection.net/wp-content/uploads/2014/08/Giraffe-Tongue-Orchestra.jpg"/>

<img class="src-image"  src="http://www.metalinjection.net/wp-content/uploads/2014/08/Giraffe-Tongue-Orchestra.jpg"/>

<img class="src-image"  src="http://www.metalinjection.net/wp-content/uploads/2014/08/Giraffe-Tongue-Orchestra.jpg"/>
{% endblock %}