{% extends "base.html" %}

{% block content%}
  	<meta charset="utf-8">
  	<title>landing-1</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" />
	<!-- font gruppo -->
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
    <link href="bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="static/javascript.js"></script>

    <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>


		<div id="page2i">
		<!-- 	<div class="small-button wide yep"><a href='/lessons'>ACCEPTĂ PROVOCAREA</a></div>
			<br/><br/> -->

			 <div class="row newman">
		        <div class="col-lg-4">
	                <div class="avatar">
	                    <a href='canvas'>
	                    	<span class="glyphicon glyphicon-list-alt "></span>
	                    	<br/>
	                    	<h4>Testează-ți <br/>cunoștințele</h4>
	                    </a>
	                </div>
		        </div>
		        <div class="col-lg-4">
	                <div class="avatar">
	                    <a href='option'>
	                    	<span class="glyphicon glyphicon-book"></span>
	                    	<br/>
	                    	<h4>Învață</h4>
	                    </a>
	                </div>
		        </div>
		        <div class="col-lg-4">
	                <div class="avatar">
	                    <a href="lesson_presentation">
	                    	<span class="glyphicon glyphicon-pencil"></span>
	                    	<br/>
	                    	<h4>Analizează <br/>problema</h4>
	                    </a>
	                </div>
		        </div>
		    </div>
		</div>
	</div>
   




 {% endblock %}

