{% extends "base.html" %}

{% block content%}

    <meta charset="utf-8">
    <title>landing-1</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" />
    <script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="static/js/canvas.js"></script>

<!-- font gruppo -->
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>

    <link href="bootstrap.min.css" rel="stylesheet">

    <div id="page1">
      <h3><br /><br />
        Andrei vrea să-și decoreze camera. <br /><br />
        Având deja adunate câteva drapeluri, Andrei se întreabă:<br/>
         ”Câte drapeluri mai trebuiesc pentru a completa întregul perete? ”
      </h3>
      <br/><br/><br/>
      <hr>
    </div>



    <div id="page2">
      <canvas id="demoCanvas" width="601" height="401" style="border:1px solid #000000;"></canvas>
      <div class="counter">
        <h3 id="counter-value"></h3>
      </div>
    </div>



<div id="page3">
    <h3><br/>
      Aria este nu altceva decât o suprafață. <br/><br/>
      Jocă-te cu drapelurile de mai sus pentru a vedea <br/>cum variază aria în dependență de numărul de drapele afișate.<br/><br/><br/>
      Aria unui dreptunghi poate fi ușor calculată.E suficient să înmulțești lungimea și lățimea și obții chiar aria!<br/>
      <br/>
    </h3>
    <br/>
    <div class="btn btn-info">
      <a href="/game">
      <h3>Verifică-ți cunoștințele</h3>
      </a>
    </div>

    </div>



    <div id="page4">

    </div>



    <div id="footer">
        <div class="col-md-3" id="logo_footer" >GreenTea 2015</div>
    </div>

    <script type="text/javascript" src="javascript.js"></script>


    <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

 {% endblock %}

