{% extends "base.html" %}

{% block content%}

    <meta charset="utf-8">
    <title>landing-1</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" />

<!-- font gruppo -->
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>

    <link href="bootstrap.min.css" rel="stylesheet">

    <div id="page1">
      <h3><br /><br />
        Andrei vrea să-și decoreze camera. <br /><br />
        Având deja adunate câteva drapeluri, Andrei se întreabă:<br/>
         ”Câte drapeluri mai trebuiesc pentru a completa întregul perete? ”
      </h3>
      <br/><br/><br/>
      <hr>
    </div>



    <div id="page2">
      <img src="https://36.media.tumblr.com/a56b4e53e3e96ac553205533adbc688f/tumblr_nx13u2AWfW1udztn8o1_1280.png">
    </div>



    <div id="page3">
    <h2><br/>
      Aria este nu altceva decât o suprafață. <br/><br/>
      Aria unui dreptunghi poate fi ușor calculată.<br/> E suficient să înmulțești lungimea și lățimea și obții chiar aria!<br/>
      <br/>
      <img src="http://etc.usf.edu/clipart/36600/36661/rect_36661_lg.gif">
    </h2>


    </div>



    <div id="page4">
     
    </div>



    <div id="footer">
        <div class="col-md-3" id="logo_footer" >GreenTea 2015</div>
    </div>

    <script type="text/javascript" src="javascript.js"></script>


    <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

 {% endblock %}

