{% extends "base.html" %}

{% block content%}
  	<meta charset="utf-8">
  	<title>landing-1</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" />
	<!-- font gruppo -->
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
    <link href="bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="static/javascript.js"></script>

    <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>


		<div id="page2i">
		<!-- 	<div class="small-button wide yep"><a href='/lessons'>ACCEPTĂ PROVOCAREA</a></div>
			<br/><br/> -->

		<div class="container">
	    <div class="row">
	        <div class="col-md-1"></div>
	        <div class="col-md-1"></div>
	        <div class="col-md-6 contur1 contur">
	        <a href="square">
	        	<button type="button" class="btn btn-default"><h2>Pătratul</h2></button>
	        </a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-1"></div>
	        <div class="col-md-1"></div>
	        <div class="col-md-6 contur">
	        <a href="rectangle">
	        	<button type="button" class="btn btn-default"><h2>Dreptunghiul</h2></button>
	        </a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-1"></div>
	        <div class="col-md-1"></div>
	        <div class="col-md-6 contur">
	        <a href="square">
	        	<button type="button" class="btn btn-default"><h2>Figura compusă</h2></button>
	        </a>
	        </div>
	    </div>
		</div>
	</div>


 {% endblock %}

