 {% extends 'base.html' %}

 {% block content %}    
 <div class="container">    
				<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
						<div class="panel panel-info" >
							<div class="panel-heading">
									<div class="panel-title">Login</div>
							</div>     
							<div style="padding-top:30px" class="panel-body" >
									<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>                      
									<div class="row">
										<div class="col-lg-12" >
											<form id="login-form" action="/login" method="post" role="form"> 
												{{login_form.csrf_token}}
												<div class="form-group {% if login_form.email.errors %}has-error{% endif %}">
													{{login_form.email(class='form-control', placeholder=login_form.email.label.text)}}
													<span class="help-block">
														{{login_form.email.errors|first}}
													</span>
												</div>
												<div class="form-group {% if login_form.password.errors %}has-error{% endif %}" >
													{{login_form.password(class='form-control', placeholder=login_form.password.label.text)}}
													<span class="help-block">
														{{login_form.password.errors|first}}
													</span>
												</div>
												<div class="form-group">
													<div class="row">
															<div style="margin-top:10px" class="form-group">
															<!-- Button -->
															<div class="col-md-offset-3 col-md-9">
																{{ login_form.submit(class='btn btn-info') }}
																<i class="icon-hand-right"></i>

															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
									
									<div class="form-group">
											<div class="col-md-12 control"><br/>
													<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
															Don't have an account! 
													<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
															Sign Up Here 
													</a>
													</div>
											</div>
									</div>   
								</div>   
							</div>                     
					</div>  
					<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<div class="panel panel-info">
							<div class="panel-heading">
									<div class="panel-title">Sign Up</div>
									<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Login</a></div>
							</div>  
							<div class="panel-body" >
								<form id="signupform" class="form-horizontal" action="/signup" method="post" role="form" >
									{{signup_form.csrf_token}}
									<div id="signupalert" style="display:none" class="alert alert-danger">
										<p>Error:</p>
											<span></span>
									</div>               
									<div class="col-lg-12" >                                
										<div class="form-group {% if signup_form.first_name.errors %}has-error{% endif %}" >
											{{signup_form.first_name(class='form-control', placeholder=signup_form.first_name.label.text)}}
											<span class="help-block">
												{{signup_form.first_name.errors|first}}
											</span>
										</div>

										<div class="form-group {% if signup_form.last_name.errors %}has-error{% endif %}">
											{{signup_form.last_name(class='form-control', placeholder=signup_form.last_name.label.text)}}
											<span class="help-block">
												{{signup_form.last_name.errors|first}}
											</span>
										</div>

										<div class="form-group {% if signup_form.email.errors %}has-error{% endif %}" >
											{{signup_form.email(class='form-control', placeholder=signup_form.email.label.text)}}
											<span class="help-block">
												{{signup_form.email.errors|first}}
											</span>
										</div>
										<div class="form-group {% if signup_form.image_url.errors %}has-error{% endif %}" >
											{{signup_form.image_url(class='form-control', placeholder=signup_form.image_url.label.text)}}
											<span class="help-block">
												{{signup_form.image_url.errors|first}}
											</span>
										</div>
										<div class="form-group {% if signup_form.password.errors %}has-error{% endif %}">
											{{signup_form.password(class='form-control', placeholder=signup_form.password.label.text)}}
											<span class="help-block">
												{{signup_form.password.errors|first}}
											</span>
										</div>
										<div class="form-group {% if signup_form.confirm_password.errors %}has-error{% endif %}">
											{{signup_form.confirm_password(class='form-control', placeholder=signup_form.confirm_password.label.text)}}
											<span class="help-block">
											{{signup_form.confirm_password.errors|first}}
											</span>
										</div>
										<div class="form-group">
											
												<!-- Button -->                                        
												<div class="col-md-offset-3 col-md-9">
													{{ signup_form.submit(class_='btn btn-info') }}
													<i class="icon-hand-right"></i>
													
												</div>
										</div>     
									</div>                      
								</form>
						</div>
					</div>              
			 </div> 
	</div>
		
{% endblock %}